@import url('https://fonts.googleapis.com/css2? family = Roboto: wght @ 100 & display = swap');

.roboto {
    font-family: 'Roboto', sans-serif;
}


.page_header__navigation__item{
    margin-left: 40px;
    font-family: 'Roboto', sans-serif;
    color: #150C01;
    opacity: 0.6;
    font-size: 18px;
    line-height: 19px;
    cursor: pointer;
    border: none;
    background-color: #FFFFFF;

        &.__isActive {
            color: #DC780B;
        }

        &:hover {
            color: #20d4d4;
          }
}