.page_menu__wrapper{
    margin-top: 55px;
    width: 100%;
    display: flex;
    justify-content: center;   
}

.page_menu__container{
    width: 1287px;
    display: flex;   
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.page_menu__button{
    width: 100%;
    display: flex;
    justify-content: center;
        button{
            width: 142px;
            height: 42px;
            /* opacity: 0.1; */
            border: 1px solid #DC780B;
            box-sizing: border-box;
            border-radius: 5px;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #DC780B;
        }
}
