.page_adunit__wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

.page_adunit__container{
    display: flex;
    justify-content: space-between;
    width: 1287px;
    height: 680px;
    
}

.page_adunit__heading{
    font-family: 'Philosopher', sans-serif;
    width: 555px;
    height: 165px;
    font-size: 25px;
    line-height: 58px;
    color: #150C01;
    margin-top: 160px;
}

.page_adunit__logo{
    display: flex;
    justify-content: flex-end;
    
}

.page_adunit__logo:hover{
    transform: rotate(10deg) scale(1.0); 
    transition-duration: 2.5s;
}

.page_adunit__description{
    font-family: 'Roboto', sans-serif;
    margin-top: 40px;
    width: 555px;
    height: 43px;
    font-size: 16px;
    line-height: 24px;
    color: #150C01;
    opacity: 0.7;
}

.page_adunit__btns_container{
    margin-top: 50px;
    width: 370px;
    display: flex;
    justify-content: space-between;
}

.page_adunit__btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 60px;    
    border: 1.5px solid #DC780B;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #DC780B;
    cursor: pointer;
    background-color: #FFFFFF;
    box-shadow: 0 5px rgb(214, 211, 211);    
}

.page_adunit__btns:active{
    box-shadow: 0 3px #666;
            transform: translateY(3px);
}

.modal{
    font-size: 35px;
    background-color:rgb(255, 255, 255);
    border: 2px solid #DC780B;
    border-radius: 35px 15px 35px 0;
    width: 450px;
    height: 250px;    
}

.header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 34px;
    text-align: center;
    padding: 5px;
    color: #DC780B;;
  }

.content {
    width: 100%;    
    padding: 10px 5px;
    display: flex;
    flex-direction: column;   
    justify-content: space-between;
    align-items: center;
        input{
            margin-top: 5px;
            width: 400px;
            height: 60px;
            padding: 0 0 0 15px;
            font-size: 30px;
            border: 1px solid #DC780B;
            border-radius: 15px 5px 15px 0;
            outline: none;
        }
        button{
            margin-top: 10px;
            width: 70px;
            height: 30px;
            background-color: #DC780B;
            border: none;
            border-radius: 15px;
            color: #FFFFFF;
            font-size: 15px;
        }
}

.close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #DC780B;
    border-radius: 18px;
    border: 1px solid #cfcece;
    color: #FFFFFF
}