@import url('https://fonts.googleapis.com/css2? family = Roboto: wght @ 100 & display = swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');

.roboto {
    font-family: 'Roboto', sans-serif;
}

.philosopher{
font-family: 'Philosopher', sans-serif;
}

.page_header__wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

.page_header__container{
    display: flex;
    justify-content: space-between;
    width: 1287px;
    height: 46px;
    margin-top: 40px;
}

.page_header__navigation{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    /* margin-left: 35px; */
}

.page_header__navigation__btn{
    width: 155px;
    height: 46px;
    background: #DC780B;
    border-radius: 5px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    cursor: pointer;
    box-shadow: 0 5px rgb(214, 211, 211);
        
        &._disabled{
            background: #aaa6a1;
            color: black;
        }
}

.page_header__navigation__btn:active{
    box-shadow: 0 3px #666;
    transform: translateY(3px);
}

.page_header__booking{
    width: 155px;
    height: 46px;
    background: #DC780B;
    border-radius: 5px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    cursor: pointer;
    box-shadow: 0 5px rgb(214, 211, 211);
        
        &._disabled{
            background: #aaa6a1;
            color: black;
        }
    
}
   
